.div-top {
    height: 100vh;
    background: linear-gradient(to bottom right,#a9caffad, #0349bba5);
    background-repeat:no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.top-mid {
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: sans-serif;
    color: darkred;
}
.top-mid-special {
    color:gray;
    font-size: x-large;
    font-style: italic;
    font-weight: normal;
}