.bg-jumbo {
    background-image: url('./images/background.jpg');
    background-position: top;
}
.text-white {
    color: white;
}
.fakeimg {
    height: 200px;
    background: rgb(243, 241, 241);
    text-align: center;
}
.boxer {
    border-style: ridge;
    margin-bottom: 10px;
    padding-left: 10px;
}
